<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chat Interface</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <div id="main">
        <div class="declaration">
            <h1>ChatGPT-like Chat</h1>
            <p>A simple chat interface inspired by ChatGPT</p>
            <p>I stand with all the people who fight for our civil liberties</p>
            <a class="button-link" href="{{ url_for('chat.index') }}">Login</a>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vue-router.min.js') }}"></script>
</body>
</html>